<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        User:
          Subscribe.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Template for subscribe action</h1>
    <f:flashMessages />
    <f:form action="create" name="newUser" object="{newUser}" enctype="multipart/form-data">
        <f:render partial="User/FormFields" />
        <f:form.submit class="btn btn-primary" value="Create new" />
    </f:form>

</f:section>

</html>
