<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <ul class="errors">
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                <li>{propertyPath}
                    <ul>
                        <f:for each="{errors}" as="error">
                            <li>{error.code}: {error}</li>
                        </f:for>
                    </ul>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:form.validationResults>
<label for="firstname" class="form-label">
    Vorname
</label>
<f:form.textfield class="form-control" property="firstName" id="firstname" value=""/>
<br/>
<label for="lastname" class="form-label">
    Nachname
</label>
<f:form.textfield class="form-control" property="lastName" id="lastname" value=""/>
<br/>
<label for="email" class="form-label">
    E-Mail
    <span class="required">(required)</span>
</label>
<f:form.textfield class="form-control" property="email" id="email" required="true" value=""/>
<br/>
<label for="image" class="form-label">
    Bild
</label>
<registration:form.upload property="image.0">
    <f:if condition="{resource}">
        <f:image image="{resource}" alt="" width="50"/>
    </f:if>
</registration:form.upload>
<br/>
<label for="birthday" class="form-label">
    <f:translate key="tx_registration_domain_model_user.birthday"/>
</label>
<f:form.textfield class="form-control" property="birthday.date" id="birthday" type="date"
                  value="{user.birthday->f:format.date(format:'Y-m-d')}"/>
<br/>
<f:form.textfield class="form-control" type="hidden" property="birthday.dateFormat" value="Y-m-d"/>
<br/>
<label for="password" class="form-label">
    password
    <span class="required">(required)</span>
</label>
<f:form.textfield class="form-control" type="password" property="password" id="password" required="true" value=""/>
<br/>
<label for="check" class="form-label">
    password check
    <span class="required">(required)</span>
</label>
<f:form.textfield class="form-control" type="password" property="check" id="check" required="true" value=""/>
<br/>
</html>
